<?xml version="1.0"?>
<config>
    <modules>
        <BlueAcorn_OrderExport>
            <version>1.0.0.0</version>
        </BlueAcorn_OrderExport>
    </modules>
    <global>
        <models>
            <blueacorn_order_export>
                <class>BlueAcorn_OrderExport_Model</class>
            </blueacorn_order_export>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <blueacorn_export_order>
                        <class>BlueAcorn_OrderExport_Model_Export</class>
                        <method>observeOrderSave</method>
                    </blueacorn_export_order>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <default>
        <order_export>
            <billing>
                <firstname>{{var order.billing.firstname}}</firstname>
            </billing>
        </order_export>
    </default>
    <blueacorn>
        <export_template>
            <order>
                <test>{{var order.entity_id}}</test>
                <address_billing>{{var billing.firstname}} {{var billing.lastname}}</address_billing>
                <address>{{var shipping.firstname}} {{var shipping.lastname}}</address>
                <total_due>{{var order.getBaseTotalDue()}}</total_due>
                <items>
                    <item foreach="items">
                        <sku>{{var sku}}</sku>
                        <name>{{var name}}</name>
                    </item>
                </items>
            </order>
        </export_template>
    </blueacorn>
</config>
